%h1 Listing games

%table
  %tr
    %th Name
    %th

  - @games.each do |game|
    %tr
      %td= game.name
      %td= link_to 'Play', game_play_path(game)
      %td= link_to 'Destroy', game, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Game', new_game_path
